BODY {
	MARGIN: 0px; COLOR: #000066; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; BACKGROUND-COLOR: #f7f2f4
}
TD {
	FONT-SIZE: 10pt; COLOR: #000066; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif
}
TD.left {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; VERTICAL-ALIGN: top
}
H2 {
	FONT-SIZE: 16pt; COLOR: #172d70; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-ALIGN: center
}
H3 {
	FONT-SIZE: 14pt; COLOR: #172d70; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-ALIGN: center
}
H4 {
	FONT-SIZE: 12pt; COLOR: #172d70; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-ALIGN: center
}
A:link {
	FONT-SIZE: 10pt; COLOR: #0a503d; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10pt; COLOR: #b51017; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 10pt; COLOR: #b51017; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10pt; COLOR: #224099; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10pt; COLOR: #b51017; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: underline
}
A.sylk:link {
	FONT-SIZE: 11pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: none
}
A.sylk:hover {
	FONT-SIZE: 11pt; COLOR: #ccffff; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: underline
}
A.sylk:active {
	FONT-SIZE: 11pt; COLOR: #ccffcc; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: none
}
A.sylk:visited {
	FONT-SIZE: 11pt; COLOR: #99ffcc; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: none
}
A.sylk:hover {
	FONT-SIZE: 11pt; COLOR: #ccff99; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-DECORATION: underline
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-ALIGN: justify
}
.fon {
	BACKGROUND: #666699; COLOR: white
}
.g {
	BACKGROUND: #d3ece4
}
B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, Sans Serifsans-serif; TEXT-ALIGN: justify
}
